{{!

	FOOTER
	- Configuration of this file is not required.

}}

	<footer>
		<div class="wrapper">
			<div class="copyright">
				Copyright &copy; <a href="{{@blog.url}}">{{@blog.title}}</a>. {{date format="YYYY"}} &bull; All rights reserved.<br>
			</div>
			<div class="sociallinks">
				{{> social_footer}}
			</div>
		</div>
	</footer>

	<a href="#top" class="backtotop"><i class="fa fa-chevron-up"></i></a>
