{{!

    SIDEBAR - DEFAULT
    - Configuration of this file is not required.

}}

    <div class="alternate">
        <aside>
            <div class="widget info_widget">
                {{#if @blog.logo}}
                    <a href="{{@blog.url}}" class="logo"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
                {{/if}}
                <p>{{@blog.description}}</p>
            </div>
            <div class="widget social_widget">
                {{> social_sidebar}}
            </div>
            {{> widget_tags}}
            <div class="widget">
              <a class="twitter-timeline" data-chrome="noheader nofooter noscrollbar" data-border-color:"#ffffff" data-tweet-limit="2" data-lang="en" data-width="100%" data-height="750" data-link-color="#B15D61" href="https://twitter.com/ToddRBirchard?ref_src=twsrc%5Etfw">Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </aside>
    </div>
