{{!

    SIDEBAR - DEFAULT
    - Configuration of this file is not required.

}}

    <div class="alternate">
        <aside>
            <div class="widget info_widget">
                {{#if @blog.logo}}
                    <a href="{{@blog.url}}" class="logo"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
                {{/if}}
                <p>{{@blog.description}}</p>
            </div>
            <div class="widget social_widget">
                {{> social_sidebar}}
            </div>
            {{> widget_tags}}
            <div class="widget">
                <a class="twitter-timeline" data-width="100%" data-height="820" data-link-color="#b15d5d" data-tweet-limit="4" data-chrome="noscrollbar transparent nofooter" href="https://twitter.com/ToddRBirchard">Tweets by ToddRBirchard</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="widget">
              {{> widget_linkedin}}
            </div>
        </aside>
    </div>
