{{!

	SOCIAL - FOOTER
	! Configuration of this file is required.
	- Add author social links here
	- These social links will appear in the page sidebar
	- Remove any unwanted links

}}

	{{! TWITTER }}
	<a href="https://twitter.com/ToddRBirchard" target="_blank" class="social social_outline twitter"><i class="fab fa-twitter"></i></a>

	{{! ANGELLIST }}
	<a href="https://angel.co/todd-birchard?public_profile=1" target="_blank" class="social social_outline angellist"><i class="fab fa-angellist"></i></a>

	{{! LINKEDIN }}
	<a href="https://www.linkedin.com/in/tbirchard/" target="_blank" class="social social_outline linkedin"><i class="fab fa-linkedin-in"></i></a>

	{{! GOOGLE+ }}
	{{!<a href="http://plus.google.com" target="_blank" class="social social_outline google"><i class="fa fa-google-plus"></i></a>}}

	{{! DRIBBBLE }}
	{{!<a href="http://dribbble.com" target="_blank" class="social social_outline dribbble"><i class="fa fa-dribbble"></i></a>}}

	{{! INSTAGRAM }}
	{{!<a href="https://www.instagram.com/broiestbro/" target="_blank" class="social social_outline instagram"><i class="fa fa-instagram"></i></a>}}

	{{! GITHUB }}
	<a href="https://github.com/toddbirchard" target="_blank" class="social social_outline github"><i class="fab fa-github"></i></a>

	{{! YOUTUBE }}
	{{!<a href="http://youtube.com" target="_blank" class="social social_outline youtube"><i class="fa fa-youtube"></i></a>}}

	{{! PINTEREST }}
	{{!<a href="http://pinterest.com" target="_blank" class="social social_outline pinterest"><i class="fa fa-pinterest"></i></a>}}


	{{! SKYPE }}
	{{!<a href="http://skype.com" target="_blank" class="social social_outline skype"><i class="fa fa-skype"></i></a>}}

	{{! TUMBLR }}
	<!--<a href="http://toddbirchard.site" target="_blank" class="social social_outline tumblr"><i class="fa fa-tumblr"></i></a>-->

	{{! QUORA }}
	<a href="https://www.quora.com/profile/Todd-Birchard" target="_blank" class="social social_outline quora"><i class="fab fa-quora"></i></a>




	{{! RSS - LEAVE DEFAULT }}
	<a href="{{@blog.url}}/rss/" target="_blank" class="social social_outline rss"><i class="fa fa-rss"></i></a>
