/*
    COMMENTS STYLES
*/

.comments {
    padding: 70px 0 70px;
    border-bottom: 1px solid #e5e5e5;

    .graybar {
        display: none;
        margin-bottom: 50px;
        cursor: pointer;
    }

    .disqus_thread,
    #g-comments {
        display: none;
    }

    #g-comments {
        width: 100% !important;

        iframe {
            width: 100% !important;
        }
    }
}

.comment {
    margin: 50px 0;

    .profile {
        margin-right: 30px;
    }

    .gravatar {
        width: 100%;
        max-width: 75px;
        border-radius: 90px;
    }

    h5 {
        margin: 10px 0;
    }

    h5 a {
        font: 500 22px 'Montserrat', Arial, Sans-Serif;
        margin: 0;
        color: #272828;

        &:hover {
            color: $accent_color;
        }
    }

    .info {
        overflow: hidden;

        span {
            font: 500 14px 'Montserrat', Arial, Sans-Serif;
            color: #dfdfdf;
        }

        .right {
            text-transform: uppercase;
        }
    }

    .buttons {
        margin-top: 15px;

        .smallrounded {
            margin-left: 10px;
        }
    }

    .body {
        clear: both;
    }

    p {
        font: 400 16px 'Open Sans', Arial, Sans-Serif;
        line-height: 36px;
        padding-left: 105px;
    }

    &.inner {
        margin-left: 12.5%;
    }

    @media (max-width: 800px) {
        .buttons {
            display: none;
        }
    }
}

.comment-respond {
    margin: 50px 0;
}

#author,
#email,
#url {
    float: left;
    width: 31.5%;
    margin-right: 2.5%;
    border-radius: 4px;

    @media (max-width: 660px) {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

#url {
    margin-right: 0;

    @media (max-width: 660px) {
        margin-bottom: 0;
    }
}

.leavereply {
    margin-top: 70px;
}

.commentbody {
    font-size: 16px;
    width: 100%;
    margin: 50px 0 0;
    padding: 20px;
    transition: border 0.3s ease-out;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    outline: none;

    &:focus {
        border: 1px solid $accent_color;
        box-shadow: inset 0 0 0 1px $accent_color;
    }
}

.form-allowed-tags {
    font-size: 14px;
    margin: 30px 0;
}

#submit {
    font: 500 15px 'Montserrat', Arial, Sans-Serif;
    display: inline-block;
    width: auto;
    padding: 12px 35px;
    transition: background 0.2s ease-out;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    border-radius: 4px;
    background: #3885d5;

    &:hover {
        background: #2866a6;
    }
}
