/*
    NOTIFICATION
*/

.notification {
  font: 500 22px 'Montserrat', Arial, Sans-Serif;
  margin-bottom: 20px;
  color: #353535;
  border: 1px solid #ececec;
  background-color: #fff;
  padding: 30px 30px 5px 30px;
  border-radius: 8px;

  .left {
    margin-top: 20px;
  }

  .right {
    margin-top: 10px;
  }

    &:first-child {
        padding-top: 0;
    }

    span {
        color: $accent_color;
    }

    i {
        margin-right: 20px;
    }

    a i {
        margin-right: 0;
        transition: color 0.2s ease-out;
        color: #dad9d9;

        &:hover {
            color: #858585;
        }
    }

    @media (max-width:600px) {
      margin-bottom: 0;

      .left {
        width:90%;
      }
    }
}

.graybar {
  font: 500 16px 'Montserrat', Arial, Sans-Serif;
  margin: 10px 0;
  padding: 20px 25px;
  color: #4c4c4c;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ececec;

    i {
        margin-right: 15px;
        color: #606060;
    }
}
