/*
    SHORTCODES
*/

.alert,
.shorttoggle {
    font: 500 16px 'Montserrat', Arial, Sans-Serif;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    color: #1c1c1c;
    border-radius: 3px;
    background: #fff;

    &.blue {
        color: #fff;
        background: #1793d1;
    }

    &.green {
        color: #fff;
        background: #7fbb00;
    }

    &.orange {
        color: #fff;
        background: #dc5034;
    }

    &.red {
        color: #fff;
        background: #ce1126;
    }
}

.shortbutton {
  font: 500 13px Montserrat, Arial, Sans-Serif;
  display: inline-block;
  padding: 6px 20px;
  transition: background .2s ease-out, border .2s ease-out, color .2s ease-out;
  color: #1c1c1c;
  border-radius: 3px;
  background: #fff;

    &.small {
      font-size: 12px;
      font-weight: 500;
      padding: 4px 15px
    }

    &.large {
      font-size: 16px;
      font-weight: 500;
      padding: 8px 30px
    }

    &.blue {
        color: #fff;
        background: #1793d1;

        &:hover {
            border-color: darken(#1793d1, 10%);
            background: darken(#1793d1, 10%);
        }
    }

    &.green {
        color: #fff;
        background: #7fbb00;

        &:hover {
            border-color: darken(#7fbb00, 10%);
            background: darken(#7fbb00, 10%);
        }
    }

    &.orange {
        color: #fff;
        background: #dc5034;

        &:hover {
            border-color: darken(#dc5034, 10%);
            background: darken(#dc5034, 10%);
        }
    }

    &.red {
        color: #fff;
        background: #ce1126;

        &:hover {
            border-color: darken(#ce1126, 10%);
            background: darken(#ce1126, 10%);
        }
    }
}

.shorttoggle {
    .toggleheader {
        font: 500 18px 'Montserrat', Arial, Sans-Serif;
        overflow: hidden;
        cursor: pointer;
    }

    .togglecontent {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #c9c9c9;
    }

    &.outline {
      border: 1px solid #dcdcdc;
      background: #f6f6f6
    }

    &.closed .togglecontent {
        display: none;
    }

    &.open .togglecontent {
        display: block;
    }

    p {
        margin: 20px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 20px 0;
    }
}

.annotation {
    margin: 30px 0;

    & * {
        margin: 0;
    }

    a,
    img {
        margin: 0;
    }

    .main {
        padding: 0 0 10px;
        text-align: right;
        border-bottom: 1px solid #d9d9d9;

        h5 {
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            color: #1e2021;
        }

        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 32px;
          margin: 0;
          color: #353535
        }
    }
}

.postbody .grid {
    overflow: hidden;
    margin: 30px 0;

    .half {
        width: 47.5%;
    }

    .left {
        margin: 0;
        margin-right: 2.5%;
    }

    .right {
        margin: 0;
        margin-left: 2.5%;
    }

    p.left,
    p.right {
        font-weight: 400;
    }

    .left *:last-child,
    .right *:last-child {
        margin-bottom: 0;
    }

    .left *:first-child,
    .right *:first-child {
        margin-top: 0;
    }

    p {
        font-weight: 300;
        clear: none;
    }

    @media (max-width: 585px) {
        .left,
        .right {
            float: none;
            width: 100%;
            margin: 0;
        }

        .right {
            margin-top: 50px;
        }
    }
}

.shorttabs {
    margin: 30px 0;

    .shorttabsheader {
      font: 400 16px Montserrat, Arial, Sans-Serif;
      display: inline-block;
      margin-top: 3px;
      padding: 10px 20px;
      cursor: pointer;
      color: #1c1c1c;
      border: 1px solid #dedede;
      border-bottom: 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background: #f1f1f1;

        &:hover {
            background: #fff;
        }
    }

    .shorttabsheader.active {
        padding: 10px 20px;
        color: $accent_color;
        border: 1px solid #eee;
        border-bottom: 0;
        background: #fff;
    }

    .shorttabscontent {
        display: block;
        margin-top: -1px;
        padding: 2.5%;
        border: 1px solid #eee;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .shorttabscontent > *:first-child {
        margin-top: 0;
        padding-top: 0;
    }

    .shorttabscontent > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.shortprogress {
    position: relative;
    width: 100%;
    margin: 30px 0;
    padding: 6px;
    border-radius: 3px;
    background: #eee;

    .inner {
        width: 80%;
        height: 42px;
        border-radius: 3px;
        background: #217dcb;
    }

    .inner.green {
        background: #7fbb00;
    }

    .inner.orange {
        background: #dc5034;
    }

    .inner.red {
        background: #ce1126;
    }

    .percentage {
        font-family: 'Montserrat', Arial, Sans-Serif;
        font-size: 17px;
        position: absolute;
        top: 18px;
        right: 21px;
        color: #393434;
    }
}
