/*
    SIDEBAR
*/
.widget {
  padding: 30px 0;
  border-bottom: 1px solid #ececec;

  &:first-child {
    padding-top: 0;
  }

  h4 {
    font: 500 16px 'Montserrat', Arial, Sans-Serif;
    margin: 0 0 30px;
    color: #c6c8c8;

    i {
      margin-right: 15px;
      color: #c6c8c8;
    }
  }
}
/* WIDGET - INFO */
.info_widget {
  a.logo {
    display: block;
    margin: 0 auto 10px;

    @media(max-width: 1040px) {
      margin: 0 auto 0!important;
      float: none;
      background: rgba(255, 255, 255, 0.6);
    }

    img {
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
    }

    &:hover {
      opacity: 0.6;
    }
    @media (max-width:600px) {
      margin: 0 auto 11px;
      /*min-width: 300px;*/
    }
  }

  p {
    font: 400 18px 'Catamaran', Arial, Sans-Serif;
    line-height: 1.6;
    margin: 0;
    color: #2b2626;
  }

  .mobile_nav {
    display: none;
    width: 100%;

    li a {
      font-weight: bold;
      text-transform: uppercase;
    }

    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
    }




    @media (max-width:600px) {
      display: block !important;
    }
  }
  @media (max-width:600px) {
    p {
      font-size: 18px !important;
      line-height: 28px !important;
      text-align: center !important;
      font-weight: 100 !important;
    }
  }
}

.content .info_widget {
  display: none;
  margin-bottom: 20px;
/*
  .logo {
    float: left;
    width: 57%;
    margin: 0;
  }*/
  @media (max-width:1040px) {
    display: block;
    padding: 0;
    border: 0;
    margin-top: 10px;
        margin-bottom: 0;

    p {
      font: 400 19px 'Catamaran',Arial,Sans-Serif;
      text-align: right;
      line-height: 1.3;
      width: 41%;
      float: right;
      padding: 5px 0 0;
      display:none;
    }
  }
  @media (max-width:800px) {
    p {
      font-size: 16px;
    }
  }
  @media (max-width:700px) {
    p {
      font-size: 15px;
    }
  }
  @media (max-width:600px) {
    p {
      display: none;
    }

    .logo {
      float: none;
      width: auto;
    }
    padding: 0;
    margin-bottom: 10px;
  }
}
/* WIDGET - POST INFO */
.postinfo_widget {
  display: none;

  a.logo {
    display: block;

    img {
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
    }

    &:hover {
      opacity: 0.6;
    }
  }
  /*&.featured {
        display: none;
    }*/
  &.inline {
    display: none;
    @media (max-width: 1040px) {
      /*display: block;*/
      padding: 0 0 7px;

      .featured {
        display: none;
      }
    }
    @media (max-width: 600px) {
      border: 0;
      margin: 0;
    }
  }
}
/* SOCIAL LINKS WIDGET */
.social_widget {
  text-align: justify;
  height: 93px;
  border-top: 1px solid #ececec;

  a {
    font-size: 15px;
    line-height: 25px;
  }

  &:before {
    display: block;
    width: 100%;
    content: '';
  }

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}
/* WIDGET - TAG */
.tag_widget {
  /*height: 239px;*/
  padding-bottom: 18px;
}
/* WIDGET - RELATED */
.page-template .related_widget {
  display: none;
}

.related_widget {
  .articles {
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    color: #292F33;
    font-family: helvetica;
    margin: 0;
    font: 200 21px 'ovo',Arial,Sans-Serif;
    border-radius: 6px;
  }

  h4 {
    font-weight: 300;
    line-height: 26px;
    color: #292F33;
    font-family: helvetica;
    padding-bottom: 10px;
    margin: 0 0 10px;
    font: 200 24px ovo,Arial,Sans-Serif;
  }
}
/* WIDGET - TWITTER */
#twitter-widget-0 {
  border-radius: 4px;
  background: #fff;
  padding: 10px !important;
}

.TweetAuthor-decoratedName {
  display: none !important;
}

.timeline-Tweet-author {
  padding: 0 !important;
}

.Avatar--edge {
  display: none !important;
}

.timeline-Tweet {
  padding: 20px !important;
}
/* WIDGET - ? */
.timeline-Widget {
  margin-top: 50px !important;
  background-color: #e9e9e9 !important;
}
/* WIDGET - AUTHOR */
aside .author_widget {
  display: block !important;
  border-radius: 8px;
      border-bottom: 0;

  .avatar {
    margin: 0 15px 0 0;
  }

  .details {
    margin-top: 3px;
  }

  h3 {
    font: 500 20px 'ovo',Arial,Sans-Serif;
    color: #2b2626;
    margin: 1px 0 -3px;
  }

  span {
    font-size: 15px;
  }

  a {
    font: 12px 'Catamaran',Arial,Sans-Serif;
  }

  p {
    font: 15px 'Catamaran',Arial,Sans-Serif;
    text-align: left;
  }
}

.container > .author_widget p {}

.author_widget {
  display: none;

  .gravatar {
    max-width: 60px;
    border-radius: 90px;
  }

  .details {
    float: left;
    text-align: left;
  }

  .avatar {
    height: 60px;
    width: 60px;
    display: block;
    margin: 0 15px 0 0;
    float: left;
  }

  h3,
  h3 a {
    font: 500 22px 'ovo',Arial,Sans-Serif;
    color: #2b2626;
    margin: 1px 0 -3px;

    &:hover {
      color: $accent_color;
    }
  }

  span {
    display: block;
    font-size: 16px;
    margin-bottom: -7px;
    font-weight: 200;
  }

  .author_url {
    font: 500 13px 'Catamaran',Arial,Sans-Serif;
    color: #a97979;
    line-height: 1;

    &:hover {
      color: $accent_color;
    }
  }

  p {
    font: 16px 'Catamaran', Arial, Sans-Serif;
    line-height: 1.5;
    color: #2b2626;
    margin-bottom: 0;
    margin-top: 10px;
    @media (max-width: 600px) {
      font: 14px 'Catamaran',Arial,Sans-Serif;
    }
  }

  &.featured {
    margin-top: 0;
    padding-top: 0;
  }
}
/* Hide from articles */
.container .author_widget {
  .author-container {
    width: 100%;
    display: block;
    height: 68px;
  }
  @media (max-width: 600px) {
    background: #fff;
    padding: 30px !important;
    margin: 10px 0 0;
    width: auto!important;
    border-radius: 6px;
    display: block !important;
    border-bottom: 0;
  }
  @media (max-width: 400px) {
    h3 {
      margin-right: 0;
    }

    span {
      margin-right: 0;
    }

    .author_url {
      margin-right: 0;
      font: 14px 'Catamaran',Arial,Sans-Serif;
    }

    .avatar {
      margin: 0 15px 0 0;
    }
  }
}
/* Sidebar Post List */
aside .postlist {
  margin: 40px 0 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .thumbnail {
    float: left;
    width: 15.6%;
    max-width: 45px;
    height: 45px;

    img {
      max-width: 100%;
      height: 100%;
      border-radius: 4px;
    }
    @media (max-width: 1357px) {
      display: none;
    }
  }

  .info {
    float: left;
    width: 77.8%;
    margin-left: 6.6%;
    @media (max-width: 1357px) {
      width: 100%;
      margin-left: 0;
    }
  }

  h5,
  h5 a {
    line-height: 24px;
    display: block;
    margin: -5px 0 0;
    padding: 0;
    color: #2b2626;

    &:hover {
      color: $accent_color;
    }
  }

  small {
    font: 400 14px 'Catamaran', Arial, Sans-Serif;
    display: block;
    margin-top: 10px;
    color: #ececec;
  }

  &:nth-of-type(2) {
    padding-top: 0;
  }
}
@media (max-width:1040px) {
  .tag-template .content .info_widget {
    display: none;
  }
}

aside .widget:last-child {
  border: 0;
}

.related-post {
  display: inline-block;
    overflow: visible;
    margin-bottom: 15px;
    border-bottom: 1px solid #ececec;
    /* background: #f1f1f1; */
    padding: 0 0 15px 6px;
    border-radius: 6px;

  .svg-inline--fa {
    font-size: 14px;
  }

  &:last-child {
    margin-bottom: 0;
    border: 0;
  }

  h5 {
    font: 500 18px 'Montserrat',Arial,Sans-Serif;
    line-height: 1.3;
    margin: 0;
  }

  p {
    font: 14px 'Catamaran',Arial,Sans-Serif;
    line-height: 1.4;
    color: #353535;
    margin: 10px 0;
  }

  .largesolid.orange {
    float: right;
    /* width: 80px; */
    padding: 10px 20px;
    margin: 0;
    background: #fff;
    border: 1px solid #ececec;
    color: #9a9a9a;
    font-size: 14px;

    i {
      margin: 0;
      font-size: 14px;
      color: #9a9a9a;
      margin-left: 2px;
    }

    &:hover {
      background: #9a9a9a;
      color: #fff;

      i {
        color: #fff;
      }
    }
  }

  .related-posttag {
    margin-top: 6px;
    float: left;

    a,
    i {
      font-size: 14px;
      color: #797979;
    }

    .svg-inline--fa.fa-w-20 {
      color: #9a9a9a;
    }
  }
}

.SandboxRoot.var-chromeless .timeline-Widget {
    background-color: transparent;
}

#twitter-widget-0 {
    background: none;
}

.TweetAuthor-Name,
.TweetAuthor-decoratedName,
.SandboxRoot.env-bp-min .TweetAuthor-screenName {
    opacity: 0 !important;
}

.timeline-Body,
.SandboxRoot {
  border-top: 0;
}
