/*------------------------------------------------------------------
Project:		Orca Ghost Theme
Version:		2.8.0
Last change: 	25/04/17
-------------------------------------------------------------------*/

@import 'normalize';

@import 'vars';
@import 'global';
@import 'layout';

@import 'sidebar';
@import 'social';
@import 'notification';
@import 'post';
@import 'navigation';
@import 'buttons';
@import 'postlist';
@import 'syntax';
@import 'comments';
@import 'postcontents';
@import 'footer';
@import 'shortcode';
